{% extends "base.html" %}

{% block title %}Agregar Enlaces a la Lista{% endblock %}

{% block content %}
<h3 class="my-4">Agregar Enlaces a la Lista "{{ lista.nombre }}"</h3>

<!-- Input para filtrar enlaces -->
<div class="form-group">
  <input type="text" class="form-control" id="searchInput" placeholder="Filtrar enlaces por título, categoría o descripción">
</div>

<!-- Lista de enlaces -->
<ul class="list-group" id="linksList">
  {% for link in links %}
  <li class="list-group-item">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="enlace_id" value="{{ link.id }}" id="enlaceCheck{{ link.id }}">
      <label class="form-check-label" for="enlaceCheck{{ link.id }}">
        <span class="h6">{{ link.titulo }}</span> - <strong>{{ link.categoria }}</strong> <br>
        <small>{{ link.descripcion }}</small>
      </label>
    </div>
  </li>
  {% endfor %}
</ul>

<!-- Mensaje de no hay coincidencias, ahora dentro de la lista y antes del botón -->
<p class="text-muted" id="noResultsMessage" style="display:none;">No hay coincidencias.</p>

<!-- Botón para guardar enlaces -->
<form method="POST">
  <button type="submit" class="btn btn-primary mt-3">Guardar Enlaces en Lista</button>
</form>

<!-- Incluir tu archivo filter.js -->
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}
